
body
{
	background-color:#FFFFFF;
    margin: 0px;
	font-family: Tahoma;
}
 
div#wrapper {
	position:relative;
    margin-left:auto;
    margin-right:auto;
    top: 0px;
    width: 900px;
	background-image: url('http://localhost/dunno/images/header.png');
	background-repeat:no-repeat;
}

div#random_saying{
	position:relative;
	top:40px;
	left: 450px;
	height: 160px;
	width: 350px;
	text-align: center;
	font-family: Courier New;
	font-weight: bold;
}

div#main_content{	
	position:relative;
	top:0px;
}

div#user_logon{
	position:absolute;
	top:0px;
	font-size: 80%;
	right:0;
}

div#user_logon_errors{
	position:absolute;
	right:0;
}

div#user_logon_errors p{
	margin: 0px;
}

div#header_static_links
{
	position:absolute;
	top: 100px;
	right:0;
}